<main class="main grid">
    <div class="block article__grid">
        <article class="article">
            <h2 class="article__header">$89, 914</h2>
            <p class="article__subheader">of $100,000 backed</p>
        </article>
        <article class="article">
            <h2 class="article__header">5,007</h2>
            <p class="article__subheader">total backers</p>
        </article>
        <article class="article">
            <h2 class="article__header">56</h2>
            <p class="article__subheader">days left</p>
        </article>
        <div class="progress-bar"></div>
    </div>

    <div class="block grid">
        <h2 class="block__header">About this project</h2>
        <p class="block__body">The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform that elevates your screen 
            to a more comfortable viewing height. Placing your monitor at eye level has the potential to improve 
            your posture and make you more comfortable while at work, helping you stay focused on the task at hand.</p>

        <p class="block__body">
            Featuring artisan craftsmanship, the simplicity of design creates extra desk space below your computer 
            to allow notepads, pens, and USB sticks to be stored under the stand.</p>
        <div class="contents">
            <ng-content></ng-content>
        </div>
    </div>
</main>