<app-nav (backProject)="handleBackProject($event)"></app-nav>
<app-modal [isOpen]="isBackProjectOpen" (closeModal)="handleCloseModal('pledgeProject', $event)">
    <ng-container *ngFor="let card of cards">
        <app-card [data]="card" [hasRadio]="true" [hasActions]="true" (onSubmit)="handleOnSubmit($event)"
            [isSelected]="card.title === selectedProject" (valueChange)="onValueChange($event)"></app-card>
    </ng-container>
</app-modal>

<app-modal *ngIf="completeModalOpen" [isComplete]="true" [isOpen]="completeModalOpen" (closeModal)="handleCloseModal('completePledge', $event)"></app-modal>
<app-main-content>
    <ng-container *ngFor="let card of cards">
        <app-card [data]="card" (valueChange)="onValueChange($event)"></app-card>
    </ng-container>
</app-main-content>

<footer class="footer">
    <p>Coded by &copy; <a target="_blank" href="https://www.instagram.com/christopheriilajom">Christopher II</a></p>
</footer>